.playingcard {
  @apply p-2 inline-block;
}

.playingcard--sm {
  .playingcard__container {
    width: 6rem;
    height: 9rem;
    font-size: 0.45rem;
  }
}

.playingcard--md {
  .playingcard__container {
    width: 8rem;
    height: 12rem;
    font-size: 0.6rem;
  }
}

.playingcard--lg {
  .playingcard__container {
    width: 12rem;
    height: 18rem;
    font-size: 0.9rem;
  }
}

.playingcard__container {
  @apply border border-black rounded-lg px-3 py-1 font-sans relative bg-white;
}

.playingcard--interactive {
  @apply pt-4;

  .playingcard__container {
    @apply shadow-lg;
  }

  &:hover {
    @apply pt-2 pb-2;

    .playingcard__container {
      @apply shadow-xl;
    }
  }
}

.playingcard__title {
  @apply w-full font-semibold text-center;
  @apply mb-2;
  font-size: 130%;
}

.playingcard__image {
  @apply w-5/6;
  @apply mb-2;
}

.playingcard__attributes {
  @apply w-full leading-snug;
}

.playingcard__attribution {
  @apply text-right text-gray-400 absolute bottom-0 right-0 mr-1 mb-px;
  font-size: 70%;
}

/* responsive image with a border and fixed 1:1 ratio */
.boxedimage {
  @apply mx-auto p-1 border;
}

.boxedimage__container {
  @apply relative w-full;
  padding-top: 100%; /* 1:1 aspect ratio */
}

.boxedimage__image {
  @apply absolute inset-0;
  @apply w-auto h-auto max-w-full max-h-full m-auto;
}

.textinput {
  @apply shadow border rounded-sm border-primary-300 appearance-none;

  &:focus {
    @apply outline-none shadow-outline;
  }
}

.button {
  @apply bg-primary-500 py-1 px-3 shadow-md rounded-sm text-white;

  &:hover {
    @apply bg-primary-400;
  }

  &--secondary {
    @apply bg-secondary-500;

    &:hover {
      @apply bg-secondary-400;
    }
  }

  &--sm {
    @apply py-px px-2;
  }

  &--lg {
    @apply py-2 px-4 rounded-full tracking-wide font-semibold;
  }

  &--xl {
    @apply py-4 px-8 shadow-lg rounded-full uppercase tracking-wider font-bold;
  }

  &--round {
    @apply rounded-full;
  }

  &__icon {
    @apply stroke-current;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }

  &--fab {
    @apply p-1 rounded-full h-10 w-10 flex items-center justify-center;

    .button__icon {
      stroke-width: 3;
    }
  }

  &--fab-sm {
    @apply p-1 rounded-full h-8 w-8 flex items-center justify-center;

    .button__icon {
      stroke-width: 2;
    }
  }

  &--fab-lg {
    @apply p-1 rounded-full h-16 w-16 flex items-center justify-center;

    .button__icon {
      stroke-width: 4;
    }
  }
}

.page-heading {
  @apply text-2xl mt-2 mb-4;
}

.page-subheading {
  @apply text-xl mt-2 mb-2;
}

.container--page {
  @apply mx-auto px-4 py-2;
}
